/* html { 
    background: url(round1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  } */
  /* html {
    background-color: cornflowerblue
  }

*/
html {
  background: url(../wall2.png) center fixed;
}
html, body {
  position: relative;
  height: 100%;
  font-family: 'ZCOOL XiaoWei', serif;

  /* background-color: #007CC2; */
}
.qq {
  /* margin-top: 10%;  */
  /* background-color: #ef3a25; */
  color: #2e5971;
  font-size: 3em;
  text-align: center;
  position: fixed;
  margin: auto;
  /* margin-top: 25%; */
  bottom: 10px;
  left: 21%;
} 
.qq {
  /* font-size: 4em; */
  -webkit-text-stroke: 1px #2e5971;
  -webkit-text-fill-color: #ef3a25;
  /* -webkit-animation: fill 0.5s infinite alternate; */
}

@-webkit-keyframes fill {
  from { -webkit-text-fill-color: #2e5971; }
  to { -webkit-text-fill-color: #ef3a25; }
}
.photo {
  display: none;
  height: 30%;
  width: 30%;
  background: #007CC2;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color:#000;
  margin: 20px auto;
  padding: 0;
}
.swiper-container {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}
.swiper-slide {
  background-size: cover;
  background-position: center;
}
.gallery-top {
  height: 80%;
  width: 100%;
}
.gallery-thumbs {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}
.gallery-thumbs .swiper-slide {
  height: 100%;
  opacity: 0.4;
}
.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}